<!DOCTYPE HTML>
<html>
<head>
<title>Edit Profile </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/verifyLogin">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{FirstName}}</button>
		<div class="dropdown-content">
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/ShoppingCart">
			<img src={{url_for('static', filename='images/shoppingcart.jpg')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>

<div class="display">
	<h2>Edit Account</h2>
	<form action="/updateAccount" method="POST">
		<p>Email:<input type="email" name="EmailID" value={{accountInfo[0]}} readonly="readonly"></p>
		<p>First Name:<input type="text" name="FirstName" value={{accountInfo[1]}}></p>
		<p>Last Name: <input type="text" name="LastName" value={{accountInfo[2]}}></p>
		<p>Address: <input type="text" name="Address" value={{accountInfo[3]}}></p>
		<p>Phone Number: <input type="text" name="PhoneNumber" value={{accountInfo[4]}}></p>
		<input type="submit" value="Save">
	</form>
</div>
</body>
</html>