<!DOCTYPE HTML>
<html>
<head>
<title>Welcome</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/verifylogin">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="cart">
		<a class="link" href="/ShoppingCart">
			<img src={{url_for('static', filename='images/shoppingcart.jpg')}} id="cartIcon" />
			CART {{itemNo}}
		</a>
	</div>
</div>
<div class="display">
	<div>
		<h2>Items</h2>
		{% for data in itemInfo %}
				<table>
					<tr id="Name">
						<td>
							Name: {{data[0][0]}}<br>
							Price: ${{data[0][3]}}0<br>
							Type: {{data[0][2]}}<br>
							SellerID: {{data[0][4]}}<br>
						</td>
				</tr>
				<tr id="Image">
					<td>
						<a href="/itemInfo?ArticleID={{data[0][1]}}">View Item</a>
					</td>
				</tr>
				<tr id="Price">
					<td>
					</td>
				</tr>
			</table>
		{% endfor %}
	</div>
</div>
</body>
</html>

