<!DOCTYPE HTML>
<html>
<head>
<title>Welcome</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>

	<div id="kart">
		<a class="link" href="/ShoppingCart">
			<img src={{url_for('static', filename='images/shoppingcart.jpg')}} id="cartIcon" />
			CART {{itemNo}}
		</a>
	</div>
</div>
<div class="display">
	<div>
		<h2>Orders</h2>
		{% for data in orders %}
            OrderID: {{data[0]}}<br>
			Price: {{data[1]}}<br>
            Date Ordered: {{data[2]}}<br><br>
        {% endfor %}
	</div>

	<a href="/account/profile">Return to Account</a>
</div>
</body>
</html>

