<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <>First Name: <input type="text" name="FirstName"></>
    <p>Last Name: <input type="text" name="LastName"></p>
    <p>Address: <input type="text" name="Address"></p>
    <p>Phone Number: <input type="text" name="PhoneNumber"></p>

    <p>Email: <input type="email" name="EmailID"></p>
    <P>Password: <input type="password" name="Password" id="Password" required></p>

    <p><input type="submit" value="Register"></p>

    <a href="/loginForm">Login here</a>
</form>
</body>
</html>



