<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>First Name: <input type="text" name="first"></p>
    <p>Last Name: <input type="text" name="last"></p>
    <p>Address: <input type="text" name="address"></p>
    <p>Phone Number: <input type="text" name="number"></p>

    <p>Email: <input type="email" name="email"></p>
    <P>Password: <input type="password" name="pw" id="password" required></p>
    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>

    <p><input type="submit" value="Register"></p>

    <a href="/loginForm">Login here</a>
</form>
</body>
</html>



